@charset "UTF-8";

 * {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  position: relative; 
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}
header {
  background-color: rosybrown;
  height: 80px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: white; 
  text-decoration: none; 
}
header h1 {
  color: white;
  margin-left: 20px;
}
.header-list {
  display: flex;
  align-items: center;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
  margin-right: 40px;
}

footer {
  color: white;
  height: 30px;
  background-color: rosybrown;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: flex-end;
}

.top{}

.table-design1 {
  border-collapse: collapse;
  width: 100%;
  max-width: 700px;
  margin:auto;
  
}
.table-design1 tr {
 background-color: #fff;
}
.table-design1 tr:nth-child(odd) {
  background-color: papayawhip;
}
.table-design1 td {
  padding: 1em;
}

.table-design2 {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin:auto;
}
.table-design2 th, .table-design2 td {
  border: 2px solid papayawhip;
  padding: 1em;
}
.table-design2 thead th {
  background-color: papayawhip;
  color: rgb(0, 0, 0);
  border: 2px solid papayawhip;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.table-design2 thead th:last-of-type {
  border-right: 2px solid papayawhip;
}
.table-design2 tbody th {
  color: papayawhip;
  font-weight: bold;
  text-align: center;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.categoryall{
display: inline-block; /* ボタンを横並びにする */
 border: none; /* 枠線をなくす */
border-radius: 5px; /* 角丸をつける */
  padding: 40px; /* ボタンの内側の余白 */
  width: 24%;
  margin: 10px; /* ボタン同士の余白 */
  background-color: lightgrey; /* ボタンの背景色 */
  color: white; /* ボタンの文字色 */
  text-align: center; /* ボタンのテキストを中央揃えにする */
  text-decoration: none; /* テキストに下線をつけない */
  font-size: 15px; /* テキストのフォントサイズ */
  cursor: pointer; /* マウスポインタを変更する */
}

.top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px;
  
}
