@charset "UTF-8";

 * {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  position: relative; 
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(252, 252, 245);
}

a{
	text-decoration: none; 
}

header {
  background-color: rosybrown;
  height: 80px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: white; 
  text-decoration: none; 
}
header h1 {
  color: white;
  margin-left: 20px;
}
.header-list {
  display: flex;
  align-items: center;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
  margin-right: 40px;
  color: white; 
}

footer {
  color: white;
  height: 30px;
  background-color: rosybrown;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: flex-end;
}


.table-design1 {
  border-collapse: collapse;
  width: 100%;
  max-width: 700px;
  margin:auto;
  
}
.table-design1 tr {
 background-color: #fff;
}
.table-design1 tr:nth-child(odd) {
  background-color: rgb(239, 222, 218);
}
.table-design1 td {
  padding: 1em;
}

.table-design2 {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  margin:auto;
}
.table-design2 th, .table-design2 td {
  border: 2px solid rgb(239, 222, 218);
  padding: 10px;
  background-color: #fff;
}
.table-design2 thead th {
  background-color: rgb(239, 222, 218);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(239, 222, 218);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.table-design2 thead th:last-of-type {
  border-right: 2px solid rgb(239, 222, 218);
}
.table-design2 tbody th {
  color: rgb(239, 222, 218);
  font-weight: bold;
  text-align: center;
}

.table-design3 {
  border-collapse: collapse;
  width: 100%;
  max-width: 500px;
  margin:auto;
}
.table-design3 th, .table-design3 td {
  border: 2px solid #fff;
  background-color: rgb(239, 222, 218);
  padding: 8px;
}
.table-design3 th {
  background-color: rgb(239, 222, 218);
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 20%;
  min-width: 4em;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.categoryall{
display: inline-block; /* ボタンを横並びにする */
 border: none; /* 枠線をなくす */
border-radius: 5px; /* 角丸をつける */
  padding: 40px; /* ボタンの内側の余白 */
  width: 24%;
  margin: 10px; /* ボタン同士の余白 */
  background-color: rgb(239, 222, 218); /* ボタンの背景色 */
  color: white; /* ボタンの文字色 */
  text-align: center; /* ボタンのテキストを中央揃えにする */
  text-decoration: none; /* テキストに下線をつけない */
  font-size: 20px; /* テキストのフォントサイズ */
  cursor: pointer; /* マウスポインタを変更する */
}

.top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px;
  
}

h3{
	margin: 20px;
}

h2 {
 margin: 10px;
}

.btndesign button {
	background-color: rgb(239, 222, 218);
	border: 1px solid transparent;
	border-radius: 35px;
	width: 200px;
	height: 40px;
	margin: 10px;
}

.btndesign2 button {
	background-color: rgb(252, 252, 245);
	border: 1px solid transparent;
	border-radius: 35px;
	width: 200px;
	height: 40px;
	margin-top: 30px;
}

.mypage{
	background-color: rgb(239, 222, 218);
	width: 400px;
	margin: 10px auto;
	padding: 30px;
}

.mypageinput{
	width: 200px;
  padding: 3px 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin: auto;
}

.msg{
	margin: auto;
}

.img-box{
  width: 100%;
  height: 46vw;
  overflow: hidden;
  position: relative;
}
.img-box>div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46vw;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  opacity: 0;
  animation-name: fade;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}
@keyframes fade {
  0%{
    opacity: 0;
  }
  20%{
    opacity: 7;
  }
  80%{
    opacity: 0;
    transform: scale(1.2);
  }
  100%{
    z-index: 0;
    opacity: 0;
  }
}
/* 1枚目のスライド */
.img-box>div:first-of-type{
  background-image: url(image/flower.jpg);
}

/* 2枚目のスライド */
.img-box>div:nth-of-type(2){
  background-image: url(image/town.jpg);
  animation-delay: 4s;
}

/* 3枚目のスライド */
.img-box>div:last-of-type{
  background-image: url(image/lake.jpg);
  animation-delay: 8s;
}
