<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>宿新規登録画面</title>
	<link href="/style.css" rel="stylesheet">
</head>
<header th:replace="adminHeader"></header>
<body>
<h2>宿新規登録</h2>
	<div class="mypage">
	<form action="/admin/hotels/add" method="post">
		<input type="text" name="name" placeholder="宿名"><br>
		カテゴリー名
 		<select name="categoryId" placeholder="カテゴリー名">
			 <option th:value="0"></option>
       		<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    	</select><br>
    	
		<input type="text" name="address" placeholder="住所"><br>
		チェックイン時間
		<input type="time" name="checkinTime" placeholder="チェックイン時間"><br>
		チェックアウト時間
		<input type="time" name="checkoutTime" placeholder="チェックアウト時間"><br>
		<div class="btndesign2">
			<button>登録</button>
		</div>
	</form>
	</div>
</body>
</html>