<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/style.css" rel="stylesheet">
</head>
<header th:replace="adminHeader"></header>
<body>
	<h1>プラン更新</h1>
		<form th:action="@{/admin/plans/{planId}/edit(planId=${plan.id})}" method="post">
		<table class="table-design1">
			<tr>
				<th>プランID</th>
				<td>[[${plan.id}]]</td>
			</tr>
			<tr>
				<th>プラン名</th>
				<td><input type="text" name="name" th:value="${plan.name}"></td>
			</tr>
			<tr>
				<th>金額</th>
				<td><input type="text" name="price" th:value="${plan.price}"></td>
			</tr>
			<tr>
				<th>部屋数</th>
				<td><input type="text" name="roomCount" th:value="${plan.roomCount}"></td>
			</tr>
			<tr>
				<th>備考</th>
				<td><input type="text" name="note" th:value="${plan.note}"></td>
			</tr>
			<input type="hidden" name="hotelId" th:value="${plan.hotelId}">
		</table>
		<div class="btndesign">
			<button>更新</button>
		</div>
		</form>
</body>
<footer th:replace="adminfooter"></footer>
</html>