<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理画面</title>
	<link href="/style.css" rel="stylesheet">
</head>
<header th:replace="adminHeader"></header>
<body>
	<br>
	<h1>管理者専用</h1>
	<br>
	<div class="btndesign">
	<a href="/admin/hotels"><button style="background-color: lemonchiffon; border: 1px solid #333;">宿管理</button></a>
	<a href="/admin/customers"><button style="background-color: mistyrose; border: 1px solid #333;">会員管理</button></a>
	</div>
</body>
</html>