<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>宿管理一覧画面</title>
	<link href="/style.css" rel="stylesheet">
</head>
<header th:replace="adminHeader"></header>
<body>
<h1>宿一覧</h1>

<form action="/admin/hotels" method="get">
	<input type="text" name="keyword" placeholder="宿名" th:value="${keyword}">
	<input type="text" name="keywordAddress" placeholder="住所" th:value="${keywordAddress}">
	<select name="categoryId" placeholder="カテゴリー名">
		<option th:value= null ></option>
       	<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"
        th:selected="${category.id}==${categoryId}"></option>
    </select>
    <span class="btndesign3">
		<button>検索</button>
	</span>
</form>
<div class="btndesign">
<form action="/admin/hotels/add" method="get">
	<button>新規登録</button>
</form>
</div>


<table  class="table-design1">
		<tr>
			<th>ID</th>
			<th>名前</th>
			<th>住所</th>
			<th>詳細</th>
			<th>削除</th>
		</tr>
		<tr th:each="hotel:${hotels}">
			<td th:text="${hotel.id}"></td>
			<td th:text="${hotel.name}"></td>
			<td th:text="${hotel.address}"></td>
		<td>
			<form th:action="@{/admin/hotels/{hotelId}(hotelId=${hotel.id})}" method="get">
					<button>詳細</button>
			</form>
		</td>
		<td>
			<form th:action="@{/admin/hotels/{hotelId}/delete(hotelId=${hotel.id})}" method="post">
				<button onclick="return confirmDelete()">削除</button>
			</form>
		</td>
		</tr>
	</table>
	<script>
		function confirmDelete() {
			var message = "本当に削除しますか？";
			var checked = confirm(message);
			if (checked) {
				return true;
			} else {
				return false;
			}
		}
	</script>
</body>
</html>