<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>会員情報更新</title>
	<link href="/style.css" rel="stylesheet">
</head>
<header th:replace="adminHeader"></header>
<body>
	<h1>会員情報更新</h1>
		<form th:action="@{/admin/customers/{customerid}/edit(customerid=${customer.id})}" method="post">
		<table class="table-design1">
			<tr>
				<th>顧客ID</th>
				<td>[[${customer.id}]]</td>
			</tr>
			<tr>
				<th>名前</th>
				<td><input type="text" name="name" th:value="${customer.name}"></td>
			</tr>
			<tr>
				<th>郵便番号</th>
				<td><input type="text" name="postal" th:value="${customer.postal}"></td>
			</tr>
			<tr>
				<th>住所</th>
				<td><input type="text" name="address" th:value="${customer.address}"></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td><input type="text" name="tel" th:value="${customer.tel}"></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><input type="text" name="email" th:value="${customer.email}"></td>
			</tr>
			<tr>
				<th>生年月日</th>
				<td><input type="date" name="birthday" th:value="${customer.birthday}"></td>
			</tr>
			<tr>
				<th>入会年月日</th>
				<td><input type="date" name="registerDate" th:value="${customer.registerDate}"></td>
			</tr>
			<tr>
				<th>退会年月日</th>
				<td><input type="date" name="withdrawDate" th:value="${customer.withdrawDate}"></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type="text" name="password" th:value="${customer.password}"></td>
			</tr>
		</table>
		<div class="btndesign">
			<button>更新</button>
		</div>
		</form>
</body>
<footer th:replace="adminfooter"></footer>
</html>