<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
</head>

<body>
	<header th:replace="header"></header>
	<form method="post" th:action="@{/reviews/{id}/edit(id=${review.id})}">
		<table border="1">
			<tr>
				<th>ホテル名</th>
				<th>プラン名</th>
				<th>年代</th>
				<th>利用時期</th>
				<th>滞在日数</th>
				<th>点数</th>
				<th>コメント</th>
			</tr>
			<tr>
				<td>[[${review.hotelName}]]</td>
				<td>[[${review.planName}]]</td>
				<td><select name="userAge">
						<option th:each="num : ${#numbers.sequence(10, 90, 10)}" th:value="${num}"
							th:text="${num}" th:selected="${num}==${review.userAge}">
						</option>
					</select></td>
				<td><select name="stayMonth">
						<option th:each="num : ${#numbers.sequence(1, 12)}" th:value="${num}"
						 th:text="${num}" th:selected="${num}==${review.stayMonth}">
						</option>
					</select>
				</td>
				<td><input name="stayDays" th:value="${review.stayDays}">日間</td>
				<td>
					<select name="point">
						<option th:each="star, count : ${#numbers.sequence(1, 5)}" th:value="${star}"
							th:text="${'★'.repeat(star)}" th:selected="${star}==${review.point}">
						</option>
					</select>
				</td>
				<td><input name="review" th:value="${review.review}"></input>
			</tr>
		</table>
		<button>登録</button>
	</form>
</body>

</html>