<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
	<link href="/style.css" rel="stylesheet">
</head>
<header th:replace="header"></header>
<body>
	<h2>[[${category.name}]]一覧</h2>
	
	<form th:action="@{/hotels/{id} (id = ${category.id})}" method="get">
		<input type="text" name="keyword" placeholder="宿名" th:value="${keyword}">
		<input type="text" name="keywordAddress" placeholder="住所" th:value="${keywordAddress}">
		<span class="btndesign3">
			<button>検索</button>
		</span>
	</form>
	
	<table class="table-design1">
		<tr th:each="hotel:${hotels}">
			<td th:text="${hotel.name}"></td>
			<td th:text="${hotel.address}"></td>
			<td><a th:href="@{/hotels/details/{id}(id=${hotel.id})}">詳細はこちら</a></td>
		</tr>
	</table>
</body>

</html>