<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link href="/style.css" rel="stylesheet">
</head>
<header th:replace="header"></header>
<body>
	<h1>ログイン</h1>
	<div class="mypage">

	<span th:text="${msg}" style="color: red"></span>

	<form action="/login" method="post">
		<table>
			<tr>
				<td><input type="text" placeholder="メールアドレス" name="email" class="mypageinput"></td>
			</tr>
			<tr>
				<td><input type="text" placeholder="パスワード" name="password" class="mypageinput"></td>
			</tr>

		</table>
		<div class="btndesign2">
			<button>ログイン</button>
		</div>
	</form>
	</div>
	<div class="btndesign">
		<form action="/signin" method="get">
			<button>新規登録はこちら</button>
		</form>
	</div>
</body>
</html>