<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>signUp</title>
	<link href="/style.css" rel="stylesheet">
</head>
<header th:replace="header"></header>

<body>
	<h2>マイページ</h2>
	<div class="mypage">
		<form action="/mypage/customer/edit" method="post">
			<input type="hidden" name="id" th:value="${customer.id}"><br>
			<input type="text" placeholder="名前" name="name" th:value="${customer.name}" class="mypageinput"><br>
			<input type="text" placeholder="郵便番号" name="postal" th:value="${customer.postal}" class="mypageinput"><br>
			<input type="text" placeholder="住所" name="address" th:value="${customer.address}" class="mypageinput"><br>
			<input type="text" placeholder="電話番号" name="tel" th:value="${customer.tel}" class="mypageinput"><br>
			<input type="text" placeholder="メールアドレス" name="email" th:value="${customer.email}" class="mypageinput"><br>
			<input type="date" placeholder="誕生日" name="birthday" th:value="${customer.birthday}" class="mypageinput"><br>
			<input type="text" placeholder="パスワード" name="password" th:value="${customer.password}" class="mypageinput"><br>
			<div class="btndesign2">
				<button>変更内容保存</button>
			</div>
		</form>
		</div>
		<div class="btndesign">
			<a href="/reservations"><button>予約一覧へ</button></a>
			<a href="/reviews"><button>口コミ一覧へ</button></a>
			<form style="display: inline;" action="/mypage/customer/delete" method="post">
			<button id="quit" onclick="return confirmQuit()">退会</button>
		</form>
		<script>
			function confirmQuit() {
				var message = "本当に退会しますか？";
				var checked = confirm(message);
				if (checked) {
					return true;
				} else {
					return false;
				}
				}
		</script>
		</div>
		
		


<footer th:replace="footer">
</footer>
</body>
</html>