<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
	<link href="/style.css" rel="stylesheet">
</head>
<header th:replace="header"></header>

<body>
	<h1>[[${hotel.name}]]</h1>
	<form method="post" th:action="@{/reviews/{hotelId}/post(hotelId=${hotel.id})}">
		<table class="table-design2">
			<tr>
				<td>プラン名</td>
				<td>
					<select name="planId">
						<option th:each="plan:${plans}" th:value="${plan.id}" th:text="${plan.name}">
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>年代</td>
				<td>
					<select name="userAge">
						<option th:each="num : ${#numbers.sequence(10, 90, 10)}" th:value="${num}" th:text="${num}">
							</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>利用時期</td>
				<td><select name="stayMonth">
						<option th:each="num : ${#numbers.sequence(1, 12)}" th:value="${num}" th:text="${num}">
							</option>
					</select>
					</td>

			</tr>
			<tr>
				<td>滞在日数</td>
				<td><input name="stayDays" type="number" placeholder="滞在日数">日間</td>
			</tr>
			<tr>
				<td>点数</td>
				<td>
					<select name="point">
						<option th:each="star : ${#numbers.sequence(1, 5)}" th:value="${star}"
							th:text="${'★'.repeat(star)}">
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>コメント</td>
				<td><input name="review" type="text" placeholder="口コミ">
				</td>
			</tr>
		</table>
		<div class="btndesign">
			<button>投稿</button>
		</div>
	</form>
</body>
<footer th:replace="footer"></footer>
</html>