<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
	<link href="/style.css" rel="stylesheet">
</head>
<header th:replace="header"></header>
<body>
	<h3>ご予約商品</h3>
	<table class="table-design2">
		<tr>
			<thead>
			<th>NO</th>
			<th>商品名</th>
			<th>価格</th>
		</tr>
		<tr>
			<td>[[${plan.id}]]</td>
			<td>[[${plan.name}]]</td>
			<td>[[${plan.price}]]</td>
		</tr>
		</thead>
	</table>
	<h3>お客様情報入力</h3>
	<form method="post" th:action="@{/reserved/{planId}(planId=${plan.id})}">
		<table class="table-design3">
			<tr>
				<td>お名前</td>
				<td th:text="${@account.name}"></td>
			</tr>
			<tr>
				<td>e-mail</td>
				<td th:text="${@account.email}"></td>
			</tr>
			<tr>
				<td>チェックイン日</td>
				<td th:text="${reservation.checkinDate}"></td>
			</tr>
			<tr>
				<td>チェックアウト日</td>
				<td th:text="${reservation.checkoutDate}"></td>
			</tr>
			<tr>
				<td>予約部屋数</td>
				<td th:text="${reservation.roomCount}"></td>
			</tr>
			<tr>
				<td>備考</td>
				<td th:text="${reservation.note}"></td>
			</tr>
		</table>
		<input name="customerId" type="hidden" th:value="${@account.id}">
		<input name="planId" type="hidden" th:value="${plan.id}">
		<input name="checkinDate" type="hidden" th:value="${reservation.checkinDate}">
		<input name="checkoutDate" type="hidden" th:value="${reservation.checkoutDate}">
		<input name="roomCount" type="hidden" th:value="${reservation.roomCount}">
		<input name="note" type="hidden" th:value="${reservation.note}">
		<div class="btndesign">
			<button>確定</button>
		</div>
	</form>
</body>
<footer th:replace="footer"></footer>
</html>