<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title></title>
<link href="/style.css" rel="stylesheet">
</head>
<header th:replace="header"></header>
<body>
	<h1>予約一覧</h1>
	<span th:text ="${error}"></span>
	<table class="table-design2">
		<tr>
			<thead>
			<th>ID</th>
			<th>ホテル名</th>
			<th>予約プラン</th>
			<th>部屋数</th>
			<th>予約日</th>
			<th>チェックイン</th>
			<th>チェックアウト</th>
			<th>合計価格</th>
			<th></th>
			</thead>
		</tr>
		<tr th:each="reservation:${reservations}">
			<td th:text="${reservation.id}"></td>
			<td th:text="${reservation.hotelName}"></td>
			<td th:text="${reservation.planName}"></td>
			<td th:text="${reservation.roomCount}"></td>
			<td th:text="${reservation.reservationDate}"></td>
			<td th:text="${reservation.checkinDate}"></td>
			<td th:text="${reservation.checkoutDate}"></td>
			<td th:text="${reservation.payment}"></td>
			<td>
				<form method="post" th:action="@{/reservations/{id}/delete(id=${reservation.id})}">
					<button onclick="return confirmCancel()">キャンセル</button>
				</form>
			</td>
		</tr>
	</table>
	<script>
		function confirmCancel() {
			var message = "本当にキャンセルしますか？";
			var checked = confirm(message);
				if (checked) {
					return true;
				} else {
					return false;
				}
		}
	</script>
</body>

</html>