<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
	<link href="/style.css" rel="stylesheet">
</head>
<header th:replace="header"></header>
<body>
	<h3>ご予約商品</h3>
	<table class="table-design2">
		<thead>
		<tr>
			<th>NO</th>
			<th>商品名</th>
			<th>価格</th>
		</tr>
		<tr>
			<td>[[${plan.id}]]</td>
			<td>[[${plan.name}]]</td>
			<td>[[${plan.price}]]</td>
		</tr>
		  </thead>
	</table>
	<h3>お客様情報入力</h3>
	<span th:text ="${error}" style="color:red"></span>
	<form method="post" th:action="@{/reservation/confirm/{planId}(planId=${plan.id})}">
		<table class="table-design3">
			<tr>
				<td>お名前</td>
				<td><input name="name" type="text" th:value="${@account.name}"></td>
			</tr>
			<tr>
				<td>e-mail</td>
				<td><input name="email" type="text" th:value="${@account.email}"></td>
			</tr>
			<tr>
				<td>チェックイン日</td>
				<td><input name="checkinDate" type="date"></td>
			</tr>
			<tr>
				<td>チェックアウト日</td>
				<td><input name="checkoutDate" type="date"></td>
			</tr>
			<tr>
				<td>予約部屋数</td>
				<td><input name="roomCount" type="number" min="1"></td>
			</tr>
			<tr>
				<td>備考</td>
				<td><input name="note" type="text"></td>
			</tr>
		</table>
		<div class="btndesign">
			<button>予約確認</button>
		</div>
	</form>
</body>

</html>