<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>signUp</title>
	<link href="/style.css" rel="stylesheet">
</head>
<header th:replace="header"></header>
<body>
	<h1>新規登録</h1>
	<div class="mypage">
	<form action="/signin" method="post"><br>
		<input type="text" placeholder="名前" name="name"><br>
		<input type="text" placeholder="郵便番号" name="postal"><br>
		<input type="text" placeholder="住所" name="address"><br>
		<input type="text" placeholder="電話番号" name="tel"><br>
		<input type="text" placeholder="メールアドレス" name="email"><br>
		<input type="date" placeholder="誕生日" name="birthday"><br>
		<input type="text" placeholder="パスワード" name="password"><br>
		<div class="btndesign2">
		<button>新規登録</button>
		</div>
	</form>
	</div>
</body>
<footer th:replace="footer"></footer>
</html>