<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>signUp</title>
</head>

<body>
	<h1>新規登録</h1>
	<form action="/signin" method="post"><br>
		<input type="text" placeholder="名前" name="name"><br>
		<input type="text" placeholder="郵便番号" name="postal"><br>
		<input type="text" placeholder="住所" name="address"><br>
		<input type="text" placeholder="電話番号" name="tel"><br>
		<input type="text" placeholder="メールアドレス" name="email"><br>
		<input type="date" placeholder="誕生日" name="birthday"><br>
		<input type="text" placeholder="パスワード" name="password"><br>
		<button>新規登録</button>
	</form>
</body>

</html>