<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
	<link href="/style.css" rel="stylesheet">
</head>
<header th:replace="header"></header>
<body>
	<div class="img-box">
	  <div></div>
	  <div></div>
	  <div></div>
	</div>
	<br>
	<h2>カテゴリー一覧</h2>
	<div class="top">
		<div th:each="category:${categories}" class="categoryall">
			<form method="get" th:action="@{/hotels/{id}(id=${category.id})}">
				<button>
					<font color="#bc8f8f">
					[[${category.name}]]
					</font>
				</button>
		</form>
		</div>
	</div>
</body>
<footer th:replace="footer"></footer>
</html>